# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDE and editor settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage/

# TypeScript
*.tsbuildinfo

# Miscellaneous
.DS_Store
Thumbs.db
